body {
    background: #0a0a0a;
    color: #fff;
    font-size: 15px;
    font-family: 'Microsoft Yahei';
    letter-spacing: 2px;
    font-weight: 700;
}

div {
    /* border: 1px solid red; */
}

#container {
    background: rgb(253, 253, 253);
    border-radius: 7px;
    color: #000;
    margin-top: 30px;
    padding: 20px;
}

form>.layui-row {
    margin: 20px;
}

.layui-col-md2 {
    min-height: 50px
}

.layui-col-md10 {
    min-height: 50px;
}

.layui-col-md2>div {
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

input,
textarea,
select {
    padding: 5px;
    margin: 5px 0;
    border: 0.5px solid rgb(123, 123, 123);
    border-radius: 4px;
    width: 100%
}

#name {
    height: 30px;
}

#description {
    height: 80px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#button>button {
    margin: 5px;
    width: 200px;
    padding: 2px;
    background: #666;
    border-radius: 8px;
    line-height: 1.4;
    font-size: 14px;
    border: 2px solid gray;
    text-transform: uppercase;
    color: #fff;
}

#button>button:hover{
    color: bisque;
    cursor: pointer;
}